/*
	Author:
	Created On:
	Revised On:
	CSS Version: 2.1
	
	Purpose:
	
	Related Files:
*/

#message {
	width:500px;
	margin:0 auto;
	margin-top:60px;
	text-align:center;
}
#message h2{
	font-size:18px;
	margin-bottom:20px;
}
#message p{
	margin-bottom:10px;
}
#message fieldset{
	padding:20px;
	width:300px;
	margin:0 auto;
	margin-bottom:20px;
}
.big_bold{
	font-size:18px;
	font-weight:bold;
}